body {
    text-align: center;
}

.heading {
    background-color: aqua;
    border: 4px solid black;
    border-radius: 20px;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 6px solid black;
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: rgb(232, 232, 58);
}

.red {
    background-color: rgb(204, 42, 42);
}

.green {
    background-color: rgb(74, 159, 74);
}

.purple {
    background-color: rgb(228, 67, 228);
}

.flash {
    background-color: white;
}

.userflash {
    background-color: black;
}